.general-body {
    background-image: url("../animation/11.svg");
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.general-box {
    width: 750px;
    padding: 3rem;
    margin-top: 8rem;
    margin-bottom: 4rem;
    background: rgba(14, 14, 14, 0.9);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.general-box p {
    margin: 0 0 30px;
    color: #4db8c6;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;


}

.highlight {
    margin: 0 0 30px;
    padding: 0;
    color: #f86a6a;
    text-align: left;
    font-size: 1rem;
    font-family: sans-serif;
    letter-spacing: 1px;
}



.general-box h4 {
    margin: 0 0 30px;
    padding: 0;
    color: #DDDDDD;
    text-align: left;
    font-size: 1rem;
    font-family: sans-serif;
    letter-spacing: 1px;
}



@media screen and (max-width:1200px) {
    .general-box {
        top: 50%;
        width: 520px;
    }
}

@media screen and (max-width:990px) {
    .general-box {
        top: 40%;
        width: 600px;
    }
}

@media screen and (max-width:650px) {
    .general-box {
        top: 60%;
        width: 90%;
    }
}