.event_body{
    background-image: url(../bghomeimg/cool1.jpg);
    position: fixed;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    
}
.event_box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 750px;
    padding: 40px;
    margin: 20px auto;
    transform: translate(-50%, -55%);
    background: rgba(14, 14, 14, 0.9);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    
  }
  
  .event_box p {
    margin: 0 0 30px;
    padding: 0;
    color: #f5f1f1;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .event_content h4 {
    margin: 0 0 30px;
    padding: 0;
    color: #f5f1f1;
    text-align: left;
    font-size: 1rem;
    font-family:sans-serif;
    letter-spacing: 1px;
    width: 50%;
    float: left;
  }
  .event_content h3 {
    margin: 0 0 30px;
    padding: 0;
    color: #f5f1f1;
    text-align: left;
    font-size: 1rem;
    font-family:sans-serif;
    letter-spacing: 1px;
  }
 
@media screen and (max-width:1200px) {
    .event-box {
        top: 50%;
        width: 420%;
    }
}


@media screen and (max-width:990px) {
    .event-box {
        top: 40%;
        width: 600px;
    }
}

@media screen and (max-width:600px) {
    .event-box {
        top: 60%;
        width: 300px;
    }
}