.bg-image {
    background-image: url(../img1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*   
#000435
#152238
#1c2e4a
#23395d
'Times New Roman', Times, serif
Georgia, 'Times New Roman', Times, serif
Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
serif
*/

.bg-text {
    color: #122024;
    font-size: 2.5rem;
    font-weight: 800;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    top: 50%;
    animation: anime1 7s linear forwards;
}

@keyframes anime1 {
    0% {
        top: 60%;

    }

    100% {
        top: 50%;

    }
}

.bg-text p span {
    animation: animate 2s linear forwards;
}


@keyframes animate {
    0% {
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(5px);
    }

    100% {
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0);
    }

}

p span:nth-child(1) {
    animation-delay: 2s;
}

p span:nth-child(2) {
    animation-delay: 2.5s;
}

p span:nth-child(3) {
    animation-delay: 3s;
}

p span:nth-child(4) {
    animation-delay: 3.5s;
}

p span:nth-child(5) {
    animation-delay: 4s;
}

p span:nth-child(6) {
    animation-delay: 4.5s;
}

p span:nth-child(7) {
    animation-delay: 5s;
}









.logo-image {
    width: 100%;
    height: 50vh;
    background-image: url(../bghomeimg/bghome8.png);
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo-holder {
    width: 30%;
}

.img-logo {
    width: 100%;
    height: 100%;
}

.event-bg {
    background-image: url(../bghomeimg/bghome2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.event-buttons {
    display: grid;
    justify-content: center;
    grid-template-columns: 12% 12% 12% 12% 12% 12%;
    grid-template-rows: 4rem 4rem;
    gap: 20px;
}

.btn1 {
    background: rgb(38, 30, 30);
    color: #DDDDDD;
    font-weight: 700;
    border: none;
    border-radius: 0.5rem;
    transition: 2s ease-in-out;
}

.btn1:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1);
    border: 0.1px solid white;
}

.event-box {
    margin: 5rem 0 2rem 0;
    display: grid;
    justify-content: center;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 400px 400px 400px;
    gap: 30px;
}

.hero {
    color: #DDDDDD;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    font-weight: 800;
    font-size: 1.9rem;
}

.heros {
    color: #DDDDDD;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    font-weight: 800;
    font-size: 1.9rem;
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8,
.box9,
.box10,
.box11,
.box12 {
    background: #10141e;
    border-radius: 5px;
    margin-bottom: 3rem;
    height: 23rem;
    transition: 0.5s ease-in;
}




.box1 {
    background-image: url(../images/Timewarp.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


}

.box1:hover {
    height: 24rem;
}

.box2 {
    background-image: url(../images/Mindmines.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.box2:hover {
    height: 24rem;
}

.box3 {
    background-image: url(../images/Futureflash.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.box3:hover {
    height: 24rem;
}

.box4 {
    background-image: url(../images/TurnTheTable.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.box4:hover {
    height: 24rem;
}

.box5 {
    background-image: url(../images/Chronobeats.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.box5:hover {
    height: 24rem;
}

.box6 {
    background-image: url(../images/Fashionshow.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.box6:hover {
    height: 24rem;
}

.box7 {
    background-image: url(../images/Treasurehunt.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.box7:hover {
    height: 24rem;
}

.box8 {
    background-image: url(../images/ItManager.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.box8:hover {
    height: 24rem;
}

.box9 {
    background-image: url(../images/Flashforward.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.box9:hover {
    height: 24rem;
}

.box10 {
    background-image: url(../images/Dumcharades.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.box10:hover {
    height: 24rem;
}

.box11 {
    background-image: url(../images/Gaming.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.box11:hover {
    height: 24rem;
}

.box12 {
    background-image: url(../images/logocreation.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.box12:hover {
    height: 24rem;
}

@media screen and (max-width:1200px) {
    .event-box {
        margin: 3rem 0 2rem 0;
        grid-template-columns: 25% 25% 25%;
        grid-template-rows: 400px 400px;
        gap: 30px;
    }

    .event-buttons {
        display: grid;
        justify-content: center;
        grid-template-columns: 20% 20% 20%;
        grid-template-rows: 4rem 4rem 4rem 4rem;
        gap: 15px;
    }
}


@media screen and (max-width:990px) {
    .event-box {
        margin: 3rem 0 2rem 0;
        grid-template-columns: 40% 40%;
        grid-template-rows: 400px 400px;
        gap: 30px;
    }
}

@media screen and (max-width:600px) {
    .logo-holder {
        width: 65%;
    }

    .img-logo {
        width: 100%;
        height: 100%;
    }

    .event-box {
        margin: 2rem;
        grid-template-columns: minmax(10%, 1fr);
        gap: 10px;
    }

    .event-buttons {
        display: grid;
        justify-content: center;
        grid-template-columns: 37% 37%;
        grid-template-rows: 4rem 4rem 4rem 4rem 4rem 4rem;
        gap: 15px;
    }

    .bg-text {
        font-size: 1.9rem;

    }

}