.outcard {
  padding: 10px;
  margin-left: 25%;
  width: 380px;
  border-radius: 1px solid black;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.outcard p {
  color: #ccc;
  font-weight: bold;
  padding: 30px;
  margin-left: 20%;
  margin-top: 10px;
  width: 50%;
  border-radius: 1px solid black;
}

.center {
  text-align: center;
  color: #ddd;
  margin-top: 100px;
}

.inputs {
  width: 93%;
  color: #444;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 5px;
  padding: 10px 10px;
}

.btns {
  background-color: #070050;
  margin-left: 60px;
  color: #fff;
  width: 60%;
  padding: 10px 10px;
  margin-top: 10px;
  border-radius: 3px;
  border: none;
}

.btn1 {
  color: white;
  text-align: center;
}

.signbody {
  background-image: url("../login.jpg");
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}